<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="magasin">
            <h2><span>Magasin</span> {{ magasin.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Nom</span></dt>
                <dd>
                    <span>{{ magasin.nom }}</span>
                </dd>
                <dt><span>Adresse</span></dt>
                <dd>
                    <span>{{ magasin.adresse }}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{ magasin.description }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/magasin', magasin.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
